<div class="header">
  <h1>José Batista</h1>
  <nav>
  </nav>
</div>

<div>
  <div class="box top-box">
    <div class="image-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fIhRU7JnxxE?si=buQbBB9XDXUbCV4L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="video"></iframe>
    </div>
    <div class="images-container">
      <img src="https://store.steampowered.com/gfxproxy/betagfx/apps/2178740/ss_dcd87f94a4d7d86512da902eb5a2bd1503e6cf07.600x338.jpg?t=1699797821" alt="1"
        class="side-image">
      <img src="https://store.steampowered.com/gfxproxy/betagfx/apps/2178740/ss_001359dcdcd8ebc1c862bc531163183a733cd018.600x338.jpg?t=1699797821" alt="2"
        class="side-image">
      <img src="https://store.steampowered.com/gfxproxy/betagfx/apps/2178740/ss_be9b3647896873bab3da5593a0032ab88b607213.600x338.jpg?t=1699797821" alt="3"
        class="side-image">
    </div>
  </div>

  <div class="box" ngTilt>
    <div class="image-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/tw-6O5Q6gYo?si=uE1ObIWtn7YG_K3z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="video"></iframe>
    </div>
    <div class="images-container">
      <img src="https://store.steampowered.com/gfxproxy/betagfx/apps/1546550/ss_820380ef640fbb03635ace6bb74fa92bb4ba6b02.600x338.jpg?t=1619158656" alt="1"
        class="side-image">
      <img src="https://store.steampowered.com/gfxproxy/betagfx/apps/1546550/ss_06165ff864ac9b1a264d6142a4cadac6746b0c72.600x338.jpg?t=1619158656" alt="2"
        class="side-image">
      <img src="https://store.steampowered.com/gfxproxy/betagfx/apps/1546550/ss_f2abd1c2c8e2f990d946b82784ad97879aaee041.600x338.jpg?t=1619158656" alt="3"
        class="side-image">
    </div>
  </div>


  <div class="box">
    <div class="image-container">
      <a href="https://fallinlight.itch.io/tlnt-shrdr-sneak-peek">
        <img src="https://img.itch.zone/aW1nLzYwMTA5MjUucG5n/315x250%23c/8jhtMN.png" alt="Test">
      </a>
    </div>
    <div class="images-container">
      <img src="https://img.itch.zone/aW1hZ2UvMTA1MDk4Ny82MDExMTE4LmpwZw==/347x500/93DZdO.jpg" alt="1"
        class="side-image">
      <img src="https://img.itch.zone/aW1hZ2UvMTA1MDk4Ny82MDExMTE5LmpwZw==/347x500/5csj8r.jpg" alt="2"
        class="side-image">
      <img src="https://img.itch.zone/aW1hZ2UvMTA1MDk4Ny82MDExMTIwLmpwZw==/347x500/fMyhLa.jpg" alt="3"
        class="side-image">
    </div>
  </div>

  <div class="box">
    <div class="image-container">
      <a href="https://fallinlight.itch.io/high-noon">
        <img src="https://img.itch.zone/aW1nLzYyNjA1MTAucG5n/315x250%23c/B3FUkx.png" alt="Test">
      </a>
    </div>
    <div class="images-container">
      <img src="https://img.itch.zone/aW1hZ2UvMTA4ODYwMi82MjYwNDMxLnBuZw==/347x500/fYv4W3.png" alt="1"
        class="side-image">
      <img src="https://img.itch.zone/aW1hZ2UvMTA4ODYwMi82MjYwNDMzLnBuZw==/347x500/RbXWjY.png" alt="2"
        class="side-image">
      <img src="https://img.itch.zone/aW1hZ2UvMTA4ODYwMi82MjYwNDM0LnBuZw==/347x500/3koayB.png" alt="3"
        class="side-image">
    </div>
  </div>
  
</div>